Repository shuymn/shuymn.me: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}"
      run: bun run lint:fix -- --file {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

chore: move renovate config to .github and update gitignore
  .github/renovate.json
  .gitignore
Due: format

docs: add CLAUDE.md and dark mode spec documentation
  CLAUDE.md
  specs/dark-mode-support/design.md
  specs/dark-mode-support/implementation-plan.md
  specs/dark-mode-support/requirements.md
Due: none

chore: add typecheck script to package.json
  package.json
Due: format

refactor(theme): simplify ThemeToggle to use standard next-themes pattern
  src/app/_components/ThemeToggle.tsx
Due: lint, format

ci: add GitHub Actions workflow for linting and building
  .github/workflows/ci.yml
Due: none

ci: remove unsupported bun cache configuration from Node.js setup
  .github/workflows/ci.yml
Due: none

fix(editorconfig): add missing 'j' in JavaScript file pattern
  .editorconfig
Due: none

chore(vscode): add Biome formatter configuration for JavaScript files
  .vscode/settings.json
Due: format

fix(docs): normalize heading levels in Docker for Mac alternative post
  _posts/2021-09-29-alt-docker-for-mac.md
Due: none

chore(renovate): streamline configuration with automerge
  .github/renovate.json
Due: format

fix(ci): make biome 2.3 parse tailwind css
  biome.json
  src/app/globals.css
Due: format

fix(ci): migrate lint setup for next 16
  eslint.config.mjs
  lefthook.yml
  package.json
  src/app/_components/ThemeToggle.tsx
Due: lint, format

fix(ThemeToggle): fix theme hydration mismatch
  src/app/_components/ThemeToggle.tsx
Due: lint, format

refactor(ThemeToggle): reuse loading component
  src/app/_components/ThemeToggle.tsx
Due: lint, format

feat(About): update profile content
  src/app/_components/About.tsx
  src/app/page.tsx
Due: lint, format

feat(posts): add article on interest in AITuber
  _posts/2026-04-23-why-interested-in-aituber.md
Due: none

chore: add EmDash CMS agent skills
  .agents/skills/building-emdash-site/SKILL.md
  .agents/skills/building-emdash-site/references/configuration.md
  .agents/skills/building-emdash-site/references/querying-and-rendering.md
  .agents/skills/building-emdash-site/references/schema-and-seed.md
  .agents/skills/building-emdash-site/references/site-features.md
  .agents/skills/creating-plugins/SKILL.md
  .agents/skills/creating-plugins/references/admin-ui.md
  .agents/skills/creating-plugins/references/api-routes.md
  .agents/skills/creating-plugins/references/block-kit.md
  .agents/skills/creating-plugins/references/hooks.md
  .agents/skills/creating-plugins/references/portable-text-blocks.md
  .agents/skills/creating-plugins/references/publishing.md
  .agents/skills/creating-plugins/references/storage.md
  .agents/skills/emdash-cli/EDITING-FLOW.md
  .agents/skills/emdash-cli/SKILL.md
  .claude/skills/building-emdash-site/SKILL.md
  .claude/skills/building-emdash-site/references/configuration.md
  .claude/skills/building-emdash-site/references/querying-and-rendering.md
  .claude/skills/building-emdash-site/references/schema-and-seed.md
  .claude/skills/building-emdash-site/references/site-features.md
  .claude/skills/creating-plugins/SKILL.md
  .claude/skills/creating-plugins/references/admin-ui.md
  .claude/skills/creating-plugins/references/api-routes.md
  .claude/skills/creating-plugins/references/block-kit.md
  .claude/skills/creating-plugins/references/hooks.md
  .claude/skills/creating-plugins/references/portable-text-blocks.md
  .claude/skills/creating-plugins/references/publishing.md
  .claude/skills/creating-plugins/references/storage.md
  .claude/skills/emdash-cli/EDITING-FLOW.md
  .claude/skills/emdash-cli/SKILL.md
Due: none

docs: fix heading levels in existing posts
  _posts/2020-04-02-hello-world.md
  _posts/2021-02-21-anger-management.md
  _posts/2022-02-03-organize-mobile-lines.md
Due: none

chore: remove dark-mode-support specs
  specs/dark-mode-support/design.md
  specs/dark-mode-support/implementation-plan.md
  specs/dark-mode-support/requirements.md
Due: none

Revert "chore(deps): update tailwindcss monorepo to v4.2.4"
  bun.lock
  package.json
Due: format

ci: add shared workflows from github-actions
  .github/renovate.json
  .github/workflows/gha.yml
  .github/workflows/renovate.yml
  .github/workflows/security.yml
Due: format

ci: harden job permissions in CI
  .github/workflows/ci.yml
Due: none

docs: replace CLAUDE.md with AGENTS.md symlink
  AGENTS.md
  CLAUDE.md
Due: none

feat: export splitTableRow function and add tests for backslash escaping
  scripts/import-markdown-post.mjs
  scripts/import-markdown-post.test.mjs
Due: lint, format

refactor(i18n): use custom localizePath util
  src/components/HomePage.astro
  src/components/PostArticle.astro
  src/layouts/Base.astro
  src/lib/i18n.ts
  src/pages/404.astro
Due: lint, format

fix(Base): refine dark mode detection condition
  src/layouts/Base.astro
Due: none

fix(styles): remove default spacing from nav lists
  src/styles/site.css
Due: none

ci: update CI workflow formatting and job names for consistency
  .github/workflows/ci.yml
Due: none

feat: apply EmDash cache hints in page components
  src/components/HomePage.astro
  src/components/PostArticle.astro
Due: none

fix(PostArticle): update content and path properties to use post.id for improved post identification
  src/components/PostArticle.astro
Due: none

fix(styles): adjust margin for profile links to improve layout
  src/styles/site.css
Due: none

feat(config): add Cloudflare edge cache provider
  astro.config.mjs
Due: lint, format

feat(ThemeToggle): sync with system theme changes
  src/components/ThemeToggle.tsx
Due: lint, format

feat(PostArticle): add locale fallback for posts
  src/components/PostArticle.astro
Due: none

chore: update biome schema to 2.4.13
  biome.json
Due: format

feat: add Cloudflare Access authentication
  astro.config.mjs
Due: lint, format

ci: add Cloudflare Workers deploy workflow
  .github/workflows/deploy.yml
  wrangler.jsonc
Due: format

docs: add comments for KV namespaces and image binding in wrangler.jsonc
  wrangler.jsonc
Due: format

chore: remove legacy _posts directory
  _posts/2020-04-02-hello-world.md
  _posts/2020-12-22-renewal.md
  _posts/2020-12-24-ontology.md
  _posts/2020-12-26-best-buy-this-year.md
  _posts/2020-12-30-good-bye-2020.md
  _posts/2021-01-06-happy-new-year.md
  _posts/2021-01-06-the-journey-of-elaina.md
  _posts/2021-01-06-toy-problem.md
  _posts/2021-01-10-intake-vent-replace.md
  _posts/2021-01-21-okamura-sylphy.md
  _posts/2021-02-01-phoenixwan.md
  _posts/2021-02-18-two.md
  _posts/2021-02-21-anger-management.md
  _posts/2021-04-24-how-i-gather-techinical-information-in-english.md
  _posts/2021-04-28-language-support.md
  _posts/2021-09-29-alt-docker-for-mac.md
  _posts/2021-11-23-m1-pro.md
  _posts/2021-11-27-steam-sale.md
  _posts/2022-01-28-catch-up.md
  _posts/2022-02-03-journal.md
  _posts/2022-02-03-organize-mobile-lines.md
  _posts/2026-04-23-why-interested-in-aituber.md
Due: none
