Repository shuymn/shuymn.me: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint:fix -- --file {staged_files}
  stage_fixed: true

format:
  run: bun biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

feat: add og image support to base layout
  src/layouts/Base.astro
  src/lib/seo.ts
Due: lint, format

chore: remove local default og image
  public/default_og_image.jpg
Due: none

chore: remove markdown post import tooling
  scripts/import-markdown-post.mjs
  scripts/import-markdown-post.test.mjs
  src/content.config.ts
Due: lint, format

chore(renovate): group EmDash packages
  .github/renovate.json
Due: format

fix(deps): update emdash patch artifacts
  package.json
  patches/@emdash-cms__admin@0.9.0.patch
  patches/emdash@0.9.0.patch
  pnpm-lock.yaml
Due: format

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/commit-msg
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/settings.json
  .gitignore
  AGENTS.md
Due: format

chore: upgrade beads integration in AGENTS.md to full profile
  AGENTS.md
Due: none

docs(design): add blog platform design
  .beads/issues.jsonl
  docs/design/blog-platform.md
Due: none

docs(adr): record blog platform direction decision
  docs/adr/0001-blog-platform-direction.md
Due: none

docs: record EmDash 0.9.0 plugin write boundaries
  docs/adr/0001-blog-platform-direction.md
  docs/design/blog-platform.md
Due: none

chore: mark EmDash boundary verification done
  .beads/issues.jsonl
Due: none

chore: switch lint/fmt scripts to biome check
  .beads/issues.jsonl
  biome.json
  package.json
Due: format

feat: implement English post auto-generation
  .envrc
  docs/adr/0001-blog-platform-direction.md
  docs/design/blog-platform.md
  emdash-env.d.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  seed/seed.json
  src/components/PostArticle.astro
  src/lib/englishGeneration.ts
  src/lib/i18n.ts
  src/styles/site.css
  tsconfig.json
Due: lint, format

fix: use data.slug over entry.id for post hrefs
  .beads/issues.jsonl
  src/components/HomePage.astro
  src/components/PostArticle.astro
Due: none

chore: update issue details in issues.jsonl for blog platform implementation
  .beads/issues.jsonl
Due: none

feat: support table blocks in English generation
  .beads/issues.jsonl
  docs/adr/0001-blog-platform-direction.md
  docs/design/blog-platform.md
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

refactor: simplify English generation internals
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  src/lib/englishGeneration.ts
Due: lint, format

chore: sync beads issues
  .beads/issues.jsonl
Due: none

fix: address english generation review feedback
  .env.example
  .envrc
  AGENTS.md
  README.md
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  src/components/HomePage.astro
  src/components/PostArticle.astro
  src/lib/englishGeneration.ts
  src/styles/site.css
Due: lint, format

fix: normalize localized post slugs
  AGENTS.md
  scripts/generate-english-posts.test.ts
  src/components/HomePage.astro
  src/components/PostArticle.astro
  src/lib/i18n.ts
Due: lint, format

fix: handle indented code fences in table bridge
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

fix: count overlapping edit matches
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

feat: improve English generation checks
  src/lib/englishGeneration.ts
Due: lint, format

fix: prevent unsafe linked English updates
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
Due: lint, format

fix: report table structure drift details
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

fix: preserve repeated markdown links
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

fix: preserve markdown fence metadata
  scripts/generate-english-posts.test.ts
  src/lib/englishGeneration.ts
Due: lint, format

fix: streamline slug normalization by integrating locale prefix handling
  src/lib/i18n.ts
Due: lint, format

fix: track markdown fence state
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  src/lib/englishGeneration.ts
Due: lint, format

chore: update EmDash skills to plugin-forms@0.2.1
  .agents/skills/building-emdash-site/SKILL.md
  .agents/skills/building-emdash-site/references/configuration.md
  .agents/skills/building-emdash-site/references/schema-and-seed.md
  .agents/skills/building-emdash-site/references/site-features.md
  .agents/skills/creating-plugins/SKILL.md
  .agents/skills/creating-plugins/references/api-routes.md
  .agents/skills/creating-plugins/references/hooks.md
  .agents/skills/emdash-cli/SKILL.md
  .claude/skills/building-emdash-site/SKILL.md
  .claude/skills/building-emdash-site/references/configuration.md
  .claude/skills/building-emdash-site/references/schema-and-seed.md
  .claude/skills/building-emdash-site/references/site-features.md
  .claude/skills/creating-plugins/SKILL.md
  .claude/skills/creating-plugins/references/api-routes.md
  .claude/skills/creating-plugins/references/hooks.md
  .claude/skills/emdash-cli/SKILL.md
Due: none

feat(skills): add wordpress-plugin-to-emdash skill
  .agents/skills/wordpress-plugin-to-emdash/SKILL.md
  .claude/skills/wordpress-plugin-to-emdash/SKILL.md
Due: none

feat: share EmDash host script connection
  .beads/issues.jsonl
  .env.example
  AGENTS.md
  docs/adr/0001-blog-platform-direction.md
  docs/design/blog-platform.md
  package.json
  pnpm-lock.yaml
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  scripts/lib/emdashConnection.test.ts
  scripts/lib/emdashConnection.ts
  scripts/lib/hostCli.ts
Due: lint, format

refactor: drop redundant host CLI abstractions
  scripts/generate-english-posts.ts
  scripts/lib/emdashConnection.ts
  scripts/lib/hostCli.ts
Due: lint, format

fix: harden EmDash connection option resolution
  scripts/lib/emdashConnection.test.ts
  scripts/lib/emdashConnection.ts
Due: lint, format

fix: make --no-dev-bypass actually reach gunshi and tighten env parsing
  scripts/generate-english-posts.test.ts
  scripts/lib/emdashConnection.test.ts
  scripts/lib/emdashConnection.ts
  scripts/lib/hostCli.ts
Due: lint, format

feat: add EmDash state deploy script
  .beads/issues.jsonl
  AGENTS.md
  docs/adr/0001-blog-platform-direction.md
  docs/design/blog-platform.md
  package.json
  scripts/deploy-emdash-state.test.ts
  scripts/deploy-emdash-state.ts
  scripts/lib/emdashConnection.test.ts
  scripts/lib/emdashConnection.ts
  scripts/lib/emdashDeploy.test.ts
  scripts/lib/emdashDeploy.ts
Due: lint, format

refactor: clean up emdash deploy script
  scripts/deploy-emdash-state.ts
  scripts/lib/emdashDeploy.test.ts
  scripts/lib/emdashDeploy.ts
Due: lint, format

feat: add local Markdown canonical source spike
  .beads/issues.jsonl
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0002-spike-local-markdown-canonical-source.md
  docs/design/blog-platform.md
  docs/design/local-markdown-canonical-source-spike.md
  src/content.config.ts
  src/content/local-posts/ja/local-markdown-canonical-source.md
  src/pages/spikes/local-posts/[...slug].astro
Due: lint, format

docs: clarify local Markdown target architecture
  .beads/issues.jsonl
  docs/design/local-markdown-canonical-source-spike.md
Due: none

docs: adopt Astro local Markdown architecture
  .beads/issues.jsonl
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0002-spike-local-markdown-canonical-source.md
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
  docs/design/local-markdown-canonical-source-spike.md
Due: none

Path conditions:
  lint: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
