Repository shuymn/shuymn.me: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint:fix -- --file {staged_files}
  stage_fixed: true

format:
  run: bun biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

docs: require atomic Astro Markdown cutover
  .beads/issues.jsonl
  AGENTS.md
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
Due: none

chore: retire EmDash deployment follow-ups
  .beads/issues.jsonl
Due: none

chore: block stale EmDash backlog work
  .beads/issues.jsonl
Due: none

docs: align local-source cutover contract
  .beads/issues.jsonl
  AGENTS.md
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
  docs/design/local-markdown-canonical-source-spike.md
  src/content/posts/en/2020-04-02-hello-world.md
  src/content/posts/en/2020-12-22-renewal.md
  src/content/posts/en/2020-12-24-ontology.md
  src/content/posts/en/2020-12-26-best-buy-this-year.md
  src/content/posts/en/2020-12-30-good-bye-2020.md
  src/content/posts/en/2021-01-06-happy-new-year.md
  src/content/posts/en/2021-01-06-the-journey-of-elaina.md
  src/content/posts/en/2021-01-06-toy-problem.md
  src/content/posts/en/2021-01-10-intake-vent-replace.md
  src/content/posts/en/2021-01-21-okamura-sylphy.md
  src/content/posts/en/2021-02-01-phoenixwan.md
  src/content/posts/en/2021-02-18-two.md
  src/content/posts/en/2021-02-21-anger-management.md
  src/content/posts/en/2021-04-24-how-i-gather-techinical-information-in-english.md
  src/content/posts/en/2021-04-28-language-support.md
  src/content/posts/en/2021-09-29-alt-docker-for-mac.md
  src/content/posts/en/2021-11-23-m1-pro.md
  src/content/posts/en/2021-11-27-steam-sale.md
  src/content/posts/en/2022-01-28-catch-up.md
  src/content/posts/en/2022-02-03-journal.md
  src/content/posts/en/2022-02-03-organize-mobile-lines.md
  src/content/posts/en/2026-04-23-why-interested-in-aituber.md
Due: none

feat: remove emdash deploy target
  .env.example
  AGENTS.md
  README.md
  astro.config.mjs
  biome.json
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
  package.json
  patches/@emdash-cms__admin@0.9.0.patch
  patches/emdash@0.9.0.patch
  pnpm-lock.yaml
  scripts/clear-emdash-manifest-cache.mjs
  scripts/deploy-emdash-state.test.ts
  scripts/deploy-emdash-state.ts
  scripts/export-emdash-content.mjs
  scripts/export-emdash-content.test.mjs
  scripts/generate-english-posts.test.ts
  scripts/generate-english-posts.ts
  scripts/lib/emdashConnection.test.ts
  scripts/lib/emdashConnection.ts
  scripts/lib/emdashDeploy.test.ts
  scripts/lib/emdashDeploy.ts
  scripts/lib/hostCli.ts
  scripts/project-local-content.mjs
  seed/seed.json
  src/lib/englishGeneration.ts
  src/pages/en/index.astro
  src/pages/index.astro
  src/styles/site.css
  wrangler.jsonc
Due: lint, format

chore: close astro local cutover issue
  .beads/issues.jsonl
Due: none

chore: remove emdash agent skills
  .agents/skills/building-emdash-site/SKILL.md
  .agents/skills/building-emdash-site/references/configuration.md
  .agents/skills/building-emdash-site/references/querying-and-rendering.md
  .agents/skills/building-emdash-site/references/schema-and-seed.md
  .agents/skills/building-emdash-site/references/site-features.md
  .agents/skills/creating-plugins/SKILL.md
  .agents/skills/creating-plugins/references/admin-ui.md
  .agents/skills/creating-plugins/references/api-routes.md
  .agents/skills/creating-plugins/references/block-kit.md
  .agents/skills/creating-plugins/references/hooks.md
  .agents/skills/creating-plugins/references/portable-text-blocks.md
  .agents/skills/creating-plugins/references/publishing.md
  .agents/skills/creating-plugins/references/storage.md
  .agents/skills/emdash-cli/EDITING-FLOW.md
  .agents/skills/emdash-cli/SKILL.md
  .agents/skills/wordpress-plugin-to-emdash/SKILL.md
  .claude/skills/building-emdash-site/SKILL.md
  .claude/skills/building-emdash-site/references/configuration.md
  .claude/skills/building-emdash-site/references/querying-and-rendering.md
  .claude/skills/building-emdash-site/references/schema-and-seed.md
  .claude/skills/building-emdash-site/references/site-features.md
  .claude/skills/creating-plugins/SKILL.md
  .claude/skills/creating-plugins/references/admin-ui.md
  .claude/skills/creating-plugins/references/api-routes.md
  .claude/skills/creating-plugins/references/block-kit.md
  .claude/skills/creating-plugins/references/hooks.md
  .claude/skills/creating-plugins/references/portable-text-blocks.md
  .claude/skills/creating-plugins/references/publishing.md
  .claude/skills/creating-plugins/references/storage.md
  .claude/skills/emdash-cli/EDITING-FLOW.md
  .claude/skills/emdash-cli/SKILL.md
  .claude/skills/wordpress-plugin-to-emdash/SKILL.md
Due: none

chore: remove env template files
  .env.example
  .envrc
Due: none

feat: configure cloudflare worker bindings
  wrangler.jsonc
Due: format

feat: add configuration for Astro Docs MCP server
  .codex/config.toml
Due: none

chore: inline static home content
  .beads/issues.jsonl
  AGENTS.md
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
  src/components/HomePage.astro
  src/components/PostPage.astro
  src/content.config.ts
  src/content/site-sections/en/home-about.md
  src/content/site-sections/ja/home-about.md
  src/lib/i18n.ts
  src/pages/en/posts/[slug].astro
  src/pages/posts/[slug].astro
Due: lint, format

chore: render home about copy inline
  .beads/issues.jsonl
  src/components/HomePage.astro
Due: none

fix: restore home about paragraph spacing
  .beads/issues.jsonl
  src/styles/site.css
Due: none

feat: add HTML formatter configuration and experimental support
  biome.json
Due: format

fix: update journal title for clarity
  posts/2022-02-03-journal.md
  src/content/posts/ja/2022-02-03-journal.md
Due: none

style: apply HTML formatter to Astro components
  src/components/HomePage.astro
  src/components/PostPage.astro
  src/layouts/Base.astro
  src/pages/404.astro
Due: none

chore: rename post content schema
  .beads/issues.jsonl
  src/content.config.ts
Due: lint, format

chore: add autonomy-needs-drive post
  posts/2026-05-08-autonomy-needs-drive.md
  src/content/posts/ja/2026-05-08-autonomy-needs-drive.md
Due: none

fix: sort same-date posts by slug descending
  src/components/HomePage.astro
Due: none

chore: add approval mode for search_astro_docs in config
  .codex/config.toml
Due: none

refactor: extract routing helpers to i18n-routing
  src/components/HomePage.astro
  src/components/PostPage.astro
  src/layouts/Base.astro
  src/lib/i18n-routing.ts
  src/lib/i18n.ts
  src/pages/404.astro
Due: lint, format

refactor(seo): extract SITE_URL constant
  src/lib/seo.ts
Due: lint, format

feat(seo): enable sitemap with canonical URLs
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/Base.astro
  src/pages/robots.txt.ts
Due: lint, format

feat(posts): add raw markdown endpoint for /posts/<slug>.md
  .beads/issues.jsonl
  src/pages/en/posts/[slug].md.ts
  src/pages/posts/[slug].md.ts
Due: lint, format

fix(lefthook): consolidate biome step to single 'biome check'
  .beads/issues.jsonl
  lefthook.yml
Due: none

style: drop leading blank in remaining astro frontmatter
  src/components/HomePage.astro
  src/components/PostPage.astro
  src/layouts/Base.astro
  src/pages/404.astro
Due: none

chore(beads): record markdown endpoint and lefthook fix issues
  .beads/issues.jsonl
Due: none

chore(wrangler): update configuration to disable workers_dev and preview_urls
  wrangler.jsonc
Due: format

style(PostPage): remove unnecessary class from article element
  src/components/PostPage.astro
Due: none

fix(theme): guard localStorage access
  src/components/ThemeToggle.tsx
  src/layouts/Base.astro
Due: lint, format

feat(i18n): localize theme toggle label
  src/components/ThemeToggle.tsx
  src/layouts/Base.astro
  src/lib/i18n.ts
Due: lint, format

feat(hooks): add pre-commit and session start hooks for 'bd prime' command
  .codex/hooks.json
Due: format

docs: update README and design documents to reflect Astro local source architecture
  README.md
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0002-spike-local-markdown-canonical-source.md
  docs/adr/0003-adopt-astro-only-local-markdown-public-path.md
  docs/design/blog-platform.md
  docs/design/local-markdown-canonical-source-spike.md
  docs/design/local-source-contract.md
Due: none

Path conditions:
  lint: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
