Repository shuymn/shuymn.me: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}"
      run: bun run lint:fix -- --file {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun biome format --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

docs: adopt Markdown author source terminology
  .beads/issues.jsonl
  AGENTS.md
  README.md
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0002-spike-markdown-author-source.md
  docs/adr/0003-adopt-astro-author-source-public-path.md
  docs/design/authoring-content-contract.md
  docs/design/blog-platform.md
  docs/design/japanese-source-recovery.md
  docs/design/markdown-author-source-spike.md
Due: none

refactor(hooks): remove PreCompact hook for 'bd prime' command
  .codex/hooks.json
Due: format

refactor(i18n): drop unused slug helpers
  src/lib/i18n.ts
Due: lint, format

refactor(posts): add shared post route helpers
  src/lib/posts.ts
  src/pages/en/posts/[slug].astro
  src/pages/en/posts/[slug].md.ts
  src/pages/posts/[slug].astro
  src/pages/posts/[slug].md.ts
Due: lint, format

fix(robots): build sitemap URL from SITE_URL
  src/pages/robots.txt.ts
Due: lint, format

perf(script): parallelize projection I/O
  scripts/project-local-content.mjs
Due: lint, format

style(theme): drop comment in persist catch
  src/components/ThemeToggle.tsx
Due: lint, format

refactor(home): tighten post index behavior
  src/components/HomePage.astro
Due: none

fix(PostPage): note on non-default locales
  src/components/PostPage.astro
Due: none

fix(script): omit empty seo descriptions
  scripts/project-local-content.mjs
  scripts/project-local-content.test.mjs
Due: lint, format

fix(script): prune orphan projection files
  scripts/project-local-content.mjs
  scripts/project-local-content.test.mjs
Due: lint, format

refactor(ThemeToggle): streamline theme retrieval and storage logic
  src/components/ThemeToggle.tsx
Due: lint, format

chore(beads): record asset mismatch investigation
  .beads/issues.jsonl
Due: none

fix(cloudflare): preserve slashless post URLs
  .beads/issues.jsonl
  docs/adr/0003-adopt-astro-author-source-public-path.md
  docs/design/authoring-content-contract.md
  wrangler.jsonc
Due: format

fix(cloudflare): force utf-8 markdown headers
  .beads/issues.jsonl
  public/_headers
Due: none

chore: rebaseline blog platform backlog
  .beads/issues.jsonl
Due: none

chore: split recall backbone issues
  .beads/issues.jsonl
Due: none

chore: define recall metadata contract
  .beads/issues.jsonl
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0003-adopt-astro-author-source-public-path.md
  docs/design/authoring-content-contract.md
  docs/design/blog-platform.md
  scripts/project-local-content.mjs
  scripts/project-local-content.test.mjs
  src/content.config.ts
Due: lint, format

fix: address metadata contract review comments
  docs/design/authoring-content-contract.md
  scripts/project-local-content.test.mjs
  src/content.config.ts
Due: lint, format

test: lock slug-derived date contract
  .beads/issues.jsonl
  docs/adr/0001-blog-platform-direction.md
  docs/adr/0003-adopt-astro-author-source-public-path.md
  docs/design/authoring-content-contract.md
  docs/design/blog-platform.md
  scripts/project-local-content.mjs
  scripts/project-local-content.test.mjs
  src/content.config.ts
Due: lint, format

chore: close slug date contract issue
  .beads/issues.jsonl
Due: none

chore: drop textlint from devDependencies
  package.json
  pnpm-lock.yaml
Due: format
